@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-image: url("./assets/img/bg-image.png");
    background-size:cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg-white-blue {
    background-image: url("./assets/img/bg-white.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-ong {
    background-image: url("./assets/img/bg-ongs.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.rc-time-picker-input {
    border: none !important;
}
